# Example configuration file for the debfactory tools

# This email will receive upload status the messages
upload_status_email = admin@somewhere.com

# FTP incoming directory
ftp_incoming_dir = /home/ftp/incoming

# PRE build directory
pre_build_dir = /build/pre_build
