# m h  dom mon dow   command
# Daily GPG import
0 8 * * * $HOME/debfactory/bin/import_uploaders_gpg_keys.py

# New scripts for the repository
*/2 * * * * $HOME/debfactory/bin/check_incoming.py -q >> $HOME/var/log/check_incoming.log 2>&1
*/2 * * * * $HOME/debfactory/bin/check_pre_build.py -q >> $HOME/var/log/check_pre_build.log 2>&1
